@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'themes/light';
@import 'themes/dark';

@import 'components/button';
@import 'components/card';

body,
button {
    @apply text-default;
}

.section {
    @apply px-8;
}


.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: #222;
}

.theme-dark {
    --page-background-color: #17181e;
    --card-background-color: #1f2027;
    --button-background-color: #59b6f9;
    --header-background-color: #1f2027;

    --text-default-color: #fff;
}
